@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C2233;
    color: #fff;
}

#hard-skills {
    padding: 40px 100px;
}

#title {
    text-align: center;
}

.container-cards {
    width: 1000px;
    margin: 36px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 268px;
    padding: 12px 12px;
    background-color: #373F55;
    text-align: center;
    border-radius: 5px;
}

.card-header {
    color: #FF8A00;
    text-align: center;
}

.card-icon {
    width: 64px;
}

.card-text {
    padding: 12px 0 16px 0;
    font-size: 12px;
}

